.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.card {
  margin: auto 0;
  background-color: var(--material-color-indigo);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px;
}

.card h1 {
  color: white;
  margin: 0;
}
.card h4 {
  color: var(--material-color-grey-400);
}

.card a {
  transition: all 0.2s ease-out;
  color: var(--material-color-grey-300);
  text-decoration: underline;
}

.card a:hover {
  transition: all 0.2s ease-out;
  color: white;
}
