.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: var(--navbar-height);
}

.title {
  color: var(--color-primary-500);
}

.logOut {
  margin-right: 16px;
}

.avatar {
  margin-right: 16px;
  background-color: #ff5722;
  color: white;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
}
