.root {
  transition: all 0.2s ease-out;
  background-color: #3f51b5;
  margin-top: 32px;
  border-radius: 16px;
  width: 80%;
  padding: 16px 16px;
}

.root:hover {
  background-color: #303f9f;
  transition: all 0.2s ease-out;
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}

.row:last-child {
  margin-bottom: 0;
}

.buttonRow {
  justify-content: center;
}

.icon {
  margin-right: 16px;
  color: white;
}

.text {
  color: white;
}

.title {
  margin: 0 auto;
  font-weight: bold;
}
